@font-face {
	font-family: 'Nunito';
	src: url('@/assets/font/Nunito-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('@/assets/font/Nunito-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('@/assets/font/Nunito-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nunito';
	src: url('@/assets/font/Nunito-Semibold.woff2') format('woff2');
	font-weight: semibold;
	font-style: normal;
	font-display: swap;
}
